body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  border: 5px solid green;
  outline-color: red;
  padding: 5px;
  margin: 5px;

}
h3 {
  border: 5px solid red;
  outline-color: red;
  padding: 5px;
  margin: 5px;

}
section {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
 .greeting {
   color: blue;

 }
